
.post-header-profile{
    display: flex;
    flex-direction: column;
    justify-content:  center;
}
.post-header-profile img{
   
    width: 32px;
    border-radius: 50%;
}
.post-header-datas {
   display: flex;
   flex-direction: column;
   margin-left: 10px;

}

.post-header-datas span#author{
    font-size:14px;
    font-weight: bold;
    color: rgb(5, 7, 7);
}

.post-header-datas span#date{
    font-size:11px;
    color: cadetblue;
}
